@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height:4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-r-3xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;

}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: transparent !important;
}

.scroll-display-none::-webkit-scrollbar {
  display: none;
}

.scroll-display-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height:4px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

.rounded-login {
    border-radius: 0px 60px 60px 0px;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.08);
}

.bg-gradient-login {
  background: linear-gradient(149.35deg, #0F7143 0%, #87C141 100%);
}

.text-logo-stroke-mobile {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #E5FFC3;
}

.text-logo-stroke-desktop {
  /* -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: white; */
}

.shadow-center {
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.06);
}